[submodule "olcPixelGameEngine"]
	path = olcPixelGameEngine
	url = https://github.com/rosskidson/olcPixelGameEngine
[submodule "olcPGEX_Gamepad"]
	path = olcPGEX_Gamepad
	url = https://github.com/rosskidson/olcPGEX_Gamepad
